---
interface Props {
  slot: string
  format?: string
  layout?: string
}

const { slot, format = 'auto', layout } = Astro.props
---

<div class="ad-unit my-8 flex justify-center">
  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-3935803464310919"
    data-ad-slot={slot}
    data-ad-format={format}
    data-full-width-responsive="true"
    {...(layout && { 'data-ad-layout': layout })}
  ></ins>
  <script is:inline>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
