---
import { SITE } from '../data/site'

interface Props {
  adSlot?: string
}

const { adSlot = SITE.adSlotId } = Astro.props
---

<div data-ace-ad-container>
  <ins
    class="adsbygoogle"
    data-ace-ad-slot
    style="display:block"
    data-ad-client={SITE.adsenseClientId}
    data-ad-slot={adSlot}
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
</div>
