---
import { SITE } from '../data/site'

interface Props {
  adSlot?: string
  containerClass?: string
}

const { adSlot = SITE.adSlotId, containerClass } = Astro.props
---

<div
  class={containerClass}
  data-ace-ad-container
  data-ace-ad-state="pending"
  data-pagefind-ignore
>
  <ins
    class="adsbygoogle"
    data-ace-ad-slot
    style="display:block"
    data-ad-client={SITE.adsenseClientId}
    data-ad-slot={adSlot}
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
</div>
